In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd .read_csv('DMart.csv')

In [ ]:
# Conclusion : Here we can observe that the Datatype of Quantity column which is given as Str will not help us in our analysis so we need to change it.

# But fot making any change we have to look upon the unique values which are present in Quantity Column

In [7]:
df.head()

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs
0,Premia Badam (Almonds),Premia,451.0,329.0,Grocery,Grocery/Dry Fruits,500 gm,India,Grocery > Grocery/Dry Fruits
1,Premia Badam (Almonds),Premia,109.0,85.0,Grocery,Grocery/Dry Fruits,100 gm,India,Grocery > Grocery/Dry Fruits
2,Premia Badam (Almonds),Premia,202.0,175.0,Grocery,Grocery/Dry Fruits,200 gm,India,Grocery > Grocery/Dry Fruits
3,Nutraj California Almonds (Badam),Nutraj,599.0,349.0,Grocery,Dry Fruits,500 gm,USA,Grocery > Dry Fruits
4,Nutraj California Almonds (Badam),Nutraj,1549.0,659.0,Grocery,Dry Fruits,1 kg,USA,Grocery > Dry Fruits

In [ ]:
# 2.DATATYPE OF EACH COLUMN

In [11]:


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5189 entries, 0 to 5188
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             5188 non-null   object
 1   Brand            4789 non-null   object
 2   Price            5188 non-null   float64
 3   DiscountedPrice  5188 non-null   float64
 4   Category         5186 non-null   object
 5   SubCategory      5186 non-null   object
 6   Quantity         5188 non-null   object
 7   Description      5187 non-null   object
 8   BreadCrumbs      5186 non-null   object
dtypes: float64(2), object(7)
memory usage: 365.0+ KB

In [12]:
# to look upon the unique values which are present in Quantity Column

In [13]:
df['Quantity'].unique()

array(['500 gm', '100 gm', '200 gm', '1 kg', '400 gm', '5 kg', '250 gm',
       '1 Kg', '150 gm', '450 gm', '50 gm', '1 L', '900 gm', '20 gm',
       '10 gm', '4 pcs', '5 L', '15 L', '5  L', '500 ml', '2 L', '200 ml',
       '250 ml', '2x1L', '225 ml', '10 kg', '5 Kg', ' 5 kg', '25 gm',
       '350 gm', '72 gm', ' 50 gm', '35 gm', '60 gm', '120 gm', '80 gm',
       '5 U', '40 gm', '700 gm', '1 gm', '45 gm', '7 gm', '75 gm',
       '20 ml', '1.5 kg', '25 Bags', '100 Bags', '10 Bags', '50 Bags',
       '140 gm', '168 gm', '16 Bags', '180 ml', '1 L x 12 U', '476 gm',
       '750 gm', '663 gm', '600 gm', '180 gm', '160 gm', '20 Bag',
       '2x500 gm', '95 gm', '48 gm', '5x65 ml', '380 gm', '10 U',
       '150 ml', '85 gm', '90 gm', '225 gm', '2.25 L', '600 ml', '1.75 L',
       '8x250 ml', '750 ml', '300 ml', '6x330 ml', '330 ml', '750  ml',
       '1.2 L', '6x250 ml', '4x250 ml', '350 ml', '623 gm', '253 gm',
       '143 gm', '584 gm', '4X100 gm', '300 gm', '138 gm', '276 gm',
       '124 gm', '135 gm', '14x10.8 gm', '800 gm', '190.5 gm', '248 gm',
       '105 gm', '504 gm', '190 gm', '654 gm', '273 gm', '125 gm',
       '275 gm', '170 gm', '77.2 gm', '81 gm', '74 gm', '73 gm', '104 gm',
       '174 gm', '107 gm', '71.5 gm', '153 gm', '78 gm', '130 gm',
       '57 gm', '52 gm', '55 gm', '91 gm', '110 gm', '117 gm', '145 gm',
       '70 gm', '185 gm', '30 gm', '96 gm', '99 gm', '28 gm', '59 gm',
       '65 gm', '210 gm', '1.25 Kg', '420 gm', '425 gm', '760 gm',
       '415 gm', '360 gm', '15 Pcs', '550 gm', '24 Pcs', '340 gm',
       '540 gm', '320 gm', '1.24 kg', '5 pcs', '230 gm', '94 gm', '92 gm',
       '875 gm', '475 gm', '1.2 kg', '1200 gm', '22 gm', '156 gm',
       '460 gm', '375 gm', '285 gm', '38 gm', '126 gm', '605 gm',
       '119 gm', '137 gm', '187.2 gm', '162 gm', '142.2 gm', '24 gm',
       '391 gm', '195.5 gm', '108.5 gm', '15.8 gm', '36 gm', '36.5 gm',
       '100.8 gm', '108 gm', '27.5 gm', '19 gm', '20x10 gm', '25.28 gm',
       '20.1 gm', '26 gm', '139.2 gm', '69.6 gm', '272 gm', '240 gm',
       '130.9 gm', '59.8 gm', '148 gm', '42 gm', '177 gm', '87 gm',
       '950 gm', '680 gm', '325 gm', '280 gm', '525 gm', '255 gm',
       '60 ml', '510 gm', '481 gm', '396 gm', '397 gm', '226 gm',
       '170 ml', '355 ml', '473 ml', '470 gm', '925 gm', '1.25 kg',
       '290 gm', '1.2 Kg', '227 gm', '284 gm', '435 gm', '520 gm',
       '480 gm', '184 gm', '46 gm', '192 gm', '560 gm', '850 gm',
       '200 Gm', '6 Pcs', '159 gm', '270 gm', '384 gm', '198 gm', '37 gm',
       '294 gm', '137.5 gm', '136 gm', '32.5 gm', '32.55 gm', '7.2 gm',
       '300 Pellets', '500 Pellets', '50 ml', '2x500gm', '200 Drops',
       '25 Sachets', '30 U', '53 gm', '44 gm', '14 gm', '12 gm', '41 gm',
       '11 gm', '15 gm', '1 pc', '4 Pcs', '3 pcs', '4 U', '6 pcs', '3 kg',
       '2 kg', '1 U', '2 pcs', '2 U', '6 kg', '4 kg', '7 Kg', '4 Kg',
       '4x250 gm', '6x250 gm', '4x200 gm', '5x200 gm', '1.8 L', '430 ml',
       '860 ml', '1.6 L', '800 ml', '550 ml', '1.25 L', '975 ml', ' 1 L',
       '435 ml', '3x200 gm', '900 ml', '2x700 gm', '115 gm', 'Pack of 5',
       '3x360 gm', 'Pack of 3', 'Pack of 2', '24 Tablets', '63.8 gm',
       '625 ml', '400 ml', '45 ml', '2x45 ml', '4x45 ml', '4x48 gm',
       '4x72 gm', '6x45 ml', '1 Unit', '220 ml', '3x10 gm', '8 ml',
       '240 ml', '425 ml', 'Brown', 'Navy Blue', 'Pack of 6', 'Jazz 04',
       'Beige', 'Maroon', '22 cm x 20 M', '30 cm x 3 M', '15 U',
       '30 cm x 5 M', '72 mtr', '6 mtr', '30 cm x 20 metres', '20 U',
       '200 U', '100 U', '25 U', '25 Wipes', 'Blue', 'Green', '4 Units',
       '90 U', 'Pack of 15', '50 U', '6 U', '10 L', 'Pack of 10',
       'Orange', '3 U', 'Pack of 4', 'Pink', 'Red', '2 Units', '3 Pcs',
       '1 Wipe', '800 W', '12 U', '400 W', '2 Pcs', 'Set of 6',
       'Set Of 3', '1.5 Litres', '125 W', '350 W', '20 Pcs', '5 Pcs',
       'Nicolas Green', 'Nicolas Brown', 'Boston Brick', 'Boston Teal',
       'Charles Brown', 'Charles Peach', 'Jules Beige', 'Jules Blue',
       'Zoe Pink', 'ZOE Peri', 'Strike Brown', 'Strike Mauve', '6  U',
       'Set of 3', '4 x 6 Feet', '6 x 6 Feet', 'Grey', 'Brown & Beige',
       'Purple', 'Indigo', 'Steel', 'Coral', '75x150 cm', 'Ruby Red',
       '40x60 cm', 'Set of 2', 'Pack of 50', 'Pack of 30', '450 ml',
       'Pack of 25', '5.5 Litres', '3 Litres', '5 Litres', '3 Units',
       '3 Litres + 2 Litres', '7.5 Litres', '2 Litres', '4 Litres',
       '3 Containers', '1 Litre', ' 6 Pcs', '12 Pcs', '7 Pcs', '3 L',
       '2 Unit', '2.5 L', '2.2 L', 'Set of 20', '7 pcs', '320 ml',
       'English Lavender', '245 ml', 'Radiant Curve', '10 Pcs',
       'Blissful Green', '18 Pcs', 'Set of 7', 'Trinity Green',
       'Set of 5', '1.3 L', 'Set of 4', '2 Containers', '870 ml',
       '420 ml', '1.8 Litres', '1.1 Litre', '52 U', '265 gm', '191 U',
       '132 gm', '108 U', '106 U', '36 U', '24 U', '235 gm', '8 U',
       '130 U', '60 U', 'Lemon Grass', 'Orchid Blossom', 'Fresh Lavender',
       '165 gm', '18 U', '10 Pieces', '20 Watts', '2 Pieces', '4 Pieces',
       '6 Pieces', '12 Watts', '18 Watts', '7 Watts', '9 Watts',
       '10 Watts', '23 Watts', '0.5 Watts', '9 Watt', '25 Watts', '12 W',
       '14 Watts', '6 Unit', 'Pack of 20', '5 Metres', '4 Metres',
       '24 x 50 Meters', '3 gm', '3x125 gm', '4x125 gm', '5x100 gm',
       '3x150 gm', '3x75 gm', '5x125 gm', '4x100 gm', '4x150 gm',
       '4x75 gm', ' 5x125 gm', '3x100 gm', '4X125 gm', '275 ml', '100 ml',
       '23 gm', '120 ml', '130 ml', '210 ml', '25 ml', '4.8 gm', '2 gm',
       '4.5 gm', '15 ml', '30 ml', '115 ml', '175 ml', '75 ml', '88 ml',
       '22 ml', '65 ml', '98 gm', '33 gm', '8 gm', '9 gm', '18 ml',
       '27 ml', '35 ml', '125 ml', '30 Wipes', '10 Wipes', '4.5 ml',
       '6.8 ml', '4 gm', '6.7 gm', '6 ml', '650 ml', '285 ml', '95 ml',
       '475 ml', '340 ml', '640 ml', '360 ml', '580 ml', '704 ml',
       '190 ml', '335 ml', '87.5 gm', '72 ml', '10 ml + 10 ml', '40 ml',
       '1000 W', '0.35 gm', '1.2 gm', '0.7 gm', '13 ml', '9.2 ml',
       '10 ml', '9 ml', '9.5 gm', '5 gm', '8.5 ml', '3 ml', '2.5 gm',
       '0.6 ml', '3.5 ml', '1.5 gm', '5 ml', '2.5 ml', '1.2 ml', '1 ml',
       '6.1 gm', '1.7 gm', '7 ml', '5.6 ml', '3.9 gm', '4 ml', '1.4 gm',
       '4.2 gm', '1.3 gm', '3.6 gm', '80 ml', '56', '28', '121', '30',
       '59', '8', '129', '2x200 gm', '2x150 gm', '2x100 gm', '2x175 gm',
       '44 U', '42 U', '40 U', '48 U', '16 U', '27 U', '154 ml',
       '5 Razors', '418 gm', '196 gm', '2x75 gm', '54 U', '66 U', '70 U',
       '46 U', '84 U', '28 U', '98 U', '120 U', '34 U', '93 U', '72 U',
       '86 U', '76 U', '72 Wipes', '80 Wipes', '120 Tablets', '30 Unit',
       '110 ml', '2x0.5 ml', '70 Pill', '16 gm', '21 ml', '27.5 ml',
       '32 gm', '100 Pcs', '60 Tablets', '3X175 ml', '725 ml', '10 W',
       '4 Unit', '2000 W', 'Silver White', 'Smoked Brown', 'Silver Sage',
       '1.5 L', '750 W', '550 W', '500 W', '1800 W', '1900 W', '1400 W',
       'Size M', 'Size S', 'Size L', 'Size XL', 'Size XXL', 'Size XXXL',
       'XL (95 cm)', 'M (85 cm)', 'XXXL (105 cm)', 'XXL (100 cm)',
       'Pack Of 3', '3 W', nan, '50 Shades', '2 Burners', '1 Book',
       'Size 7', 'Size 5', 'Size 6', 'Size 4', '250 ml x 48U', 'Black',
       '10 x 12 Inches', '8 x 10 Inches', '12 Shades', '12x16.5 gm',
       '14 Shades'], dtype=object)

In [14]:
# Looking at above values we can conclude that converting this column will become a hectinc task so we won't consider this column in our analysis

In [15]:
# CHECKING DUPLICATES

In [16]:
df.duplicated().sum()

0

In [17]:
# 4 Do we have null values

In [18]:

df.isnull().sum()

Name                 1
Brand              400
Price                1
DiscountedPrice      1
Category             3
SubCategory          3
Quantity             1
Description          2
BreadCrumbs          3
dtype: int64

In [20]:
# Yes, our data is having multiple Null values

## 1. Data cleansing

# Removing null values

In [22]:
df['Name'] = df['Name'].fillna('Kitchen Appliance')

In [23]:
df['Brand'] = df['Brand'].fillna('Local/Unknown')

In [24]:
df[df['Price'].isnull()==True]

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs
4323,Elle 18 Nail Pops Nail Colour - Shade 125,Elle 18,NaN,NaN,Personal Care,Personal Care/Nail Care,5 ml,NaN,Personal Care > Personal Care/Nail Care

In [25]:
df['Price']=df['Price'].fillna(df[df['SubCategory']=='Personal Care/Nail Care']['Price'].mean())

In [26]:
df['DiscountedPrice']=df['DiscountedPrice'].fillna(df[df['SubCategory']=='Personal Care/Nail Care']['DiscountedPrice'].mean())

In [27]:
df[df['Category'].isnull()==True]

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs
3180,Stainless Steel Idli Maker with Lid,Keyur Kitchenware,900.0,499.0,NaN,NaN,1 Unit,\n- Container Material : Stainless Steel\n- Ha...,NaN
3243,Pigeon ESS Non-Stick Gift Set - Red,Pigeon,2895.0,1359.0,NaN,NaN,7 pcs,\n-Specifications :\n- Coating : 5 Layers Non-...,NaN
3245,Wonderchef Milano Set - Red,Wonderchef,4200.0,1999.0,NaN,NaN,4 Pcs,\n- Adorn your kitchen with this beautiful Mil...,NaN

In [28]:
df['Category'] = df['Category'].fillna('Home & Kitchen')

In [29]:
df['SubCategory'] = df['SubCategory'].fillna('Home Appliances')

In [30]:
df['BreadCrumbs']=df['BreadCrumbs'].fillna('Home & Kitchen > Cookware & Serveware')

In [31]:
df[df.Quantity.isnull()==True]

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs
5047,Zeel MT212 Men's Raincoat - Navy Blue : Size XXL,Zeel,1199.0,1049.0,Raincoat,Raincoat,NaN,Specifications- Material : Fabric- Colour : Na...,Raincoat

In [32]:
df['Quantity'] = df['Quantity'].fillna('Size XXL')

In [33]:
df['Description'] = df['Description'].fillna('No Desciption')

In [34]:
df.isnull().sum()

Name               0
Brand              0
Price              0
DiscountedPrice    0
Category           0
SubCategory        0
Quantity           0
Description        0
BreadCrumbs        0
dtype: int64

In [35]:
df.head()

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs
0,Premia Badam (Almonds),Premia,451.0,329.0,Grocery,Grocery/Dry Fruits,500 gm,India,Grocery > Grocery/Dry Fruits
1,Premia Badam (Almonds),Premia,109.0,85.0,Grocery,Grocery/Dry Fruits,100 gm,India,Grocery > Grocery/Dry Fruits
2,Premia Badam (Almonds),Premia,202.0,175.0,Grocery,Grocery/Dry Fruits,200 gm,India,Grocery > Grocery/Dry Fruits
3,Nutraj California Almonds (Badam),Nutraj,599.0,349.0,Grocery,Dry Fruits,500 gm,USA,Grocery > Dry Fruits
4,Nutraj California Almonds (Badam),Nutraj,1549.0,659.0,Grocery,Dry Fruits,1 kg,USA,Grocery > Dry Fruits

In [36]:
df['DiscountPercent'] = (df['Price']-df['DiscountedPrice'])*100/df['Price']

In [37]:
df.isnull().sum()

Name               0
Brand              0
Price              0
DiscountedPrice    0
Category           0
SubCategory        0
Quantity           0
Description        0
BreadCrumbs        0
DiscountPercent    1
dtype: int64

In [38]:
df[df['DiscountPercent'].isnull()==True]

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs,DiscountPercent
2230,Kopiko Cappuccino Coffee Candies,Kopiko,0.0,0.0,Packaged Food,Sweets,140 gm,OverviewKopiko candy is made from real coffee ...,Packaged Food > Sweets,NaN

In [39]:
df['DiscountPercent'] = df['DiscountPercent'].fillna(0)

In [40]:
df['DiscountPercent']=df['DiscountPercent'].apply(lambda x:int(x))

In [41]:
df.head()

,Name,Brand,Price,DiscountedPrice,Category,SubCategory,Quantity,Description,BreadCrumbs,DiscountPercent
0,Premia Badam (Almonds),Premia,451.0,329.0,Grocery,Grocery/Dry Fruits,500 gm,India,Grocery > Grocery/Dry Fruits,27
1,Premia Badam (Almonds),Premia,109.0,85.0,Grocery,Grocery/Dry Fruits,100 gm,India,Grocery > Grocery/Dry Fruits,22
2,Premia Badam (Almonds),Premia,202.0,175.0,Grocery,Grocery/Dry Fruits,200 gm,India,Grocery > Grocery/Dry Fruits,13
3,Nutraj California Almonds (Badam),Nutraj,599.0,349.0,Grocery,Dry Fruits,500 gm,USA,Grocery > Dry Fruits,41
4,Nutraj California Almonds (Badam),Nutraj,1549.0,659.0,Grocery,Dry Fruits,1 kg,USA,Grocery > Dry Fruits,57